* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #001e4d;
}
.app {
    background: #ffffffa2;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px #fff;
}
.app h1 {
    font-size: 45px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2px dotted #001e4d;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
}
.quiz {
    padding: 20px 0;
}
.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
img {
    border-radius: 20px;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: #001e4d 0 0 10px;
}
.btn {
    background: #ffffff80;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]) {
    background: #001e4d;
    color: #fff;

}
.btn:disabled {
    cursor: no-drop;
}
#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct {
    background: #9aeabc;
}
.incorrect {
    background: #ff9393;
}
.fot {
    text-align: center;
    font-size: 12px;
    color: #001e4d;
    font-weight: 600;
    margin: 10px auto 0;
}
.hidden {
    display: none;
}

.logo {
    border-radius: 20px;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #0046b8;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

#gift-card {
    text-align: center;
}

.card {
    border: 2px solid #21a2f8;
    border-radius: 12px;
    padding: 10px;
    background-color: #8181817e;
    display: inline-block;
    width: 90%;
    max-width: 300px;
    box-shadow: 4px -4px 10px black, -1px 1px 10px black;
}
  
.card .code {
    font-weight: bold;
    cursor: pointer;
    color: #21a2f8;
    background-color: #313131;
    padding: 5px;
    border-radius: 5px;
    margin: 10px auto;
}
  
.card .code:hover {
    box-shadow: inset 0 0 10px #000, 0 0 5px #000;
    animation: 1s hov infinite forwards;
}

p {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

#start-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
#start-btn:hover:not([disabled]) {
    background: #002b70;
    color: #fff;
    font-weight: 600;
}

#version {
    font-size: 10px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -10px;
}

@keyframes hov {
    0%, 100% {
        color: #21a2f8;
    }
    50% {
        color: #fff;
    }
}

.congrats {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

#discount {
    margin: 10px auto;
    font-size: 13px;
}

@media (max-width: 600px) {
    .app {
        padding: 20px;
    }

    .app h1 {
        font-size: 28px;
    }

    img.logo {
        width: 30%;
    }
    .app h1 {
        font-size: 25px;
    }
    .quiz h2 {
        font-size: 12px;
    }
    .btn, #start-btn {
        font-size: 11px;
    }
    p {
        font-size: 13px;
    }
    .fot {
        font-size: 11px;
    }
}
